body {
  box-sizing: border-box;
  background-color: #dd5cb280;
}

#cursor {
  background-color: #fff0;
  border: none;
  position: absolute;
  width: 65px;
  height: 65px;
}

button, p {
  font-style: italic;
}
button {
  box-shadow: -4px 5px 0 0 black;
  transition: all ease-in-out 100ms;
}

#switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 6vw;
  border: none;
  border: 2px solid green;
  border-radius: 15px;
  background-color: orange;
  color: white;
  font-size: 30px;
}

#main-container {
  margin: 0 auto;
  width: 80%;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#info-container {
  position: absolute;
  right: 0;
  top: 0;
  border: 15px solid black;
  border-right: 0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #555;
  width: 0;
  height: 90%;
  z-index: 999999;
  opacity: 0;
}

#info-action {
  position: absolute;
  right: 0;
  top: 5vh;
  width: 10%;
  border: 5px solid blue;
  border-right: 0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #1fe1e1;
  text-align: center;
  z-index: 9999999;
}

#info-action h2 {
  font-style: italic;
}

#info-action:hover ~ #info-container {
  display: block;
  animation: info .5s ease-in-out forwards;
}

.box-info {
  display: inline-block;
  width: 40%;
  margin: 0 2px 2px 2%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
}

.box-info img, .emptyImage {
  display: inline-block;
  border: 1px solid black;
  margin-top: 2%;
  width: 40px;
  height: 40px;
}

.info-k {
  display: inline-block;
  margin-top: 2%;
  height: 40px;
  color: white;
  font-style: italic;
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

.info-k p {
  font-size: 32px;
  display: table-cell;
  vertical-align: center;
}

#control-pult {
  position: relative;
  transform: perspective(800px) rotateX(30deg);
  transform-origin: top;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid black;
  margin: 0 auto;
  width: 90%;
  height: 150px;
  background-color: brown;
}

#corpus-front-cover {
  background-color: brown;
  width: 87.5%;
  height: 70vh;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  margin: 20px auto 0;
}

#slot-mashine, #screen {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  margin: 0 auto;
  width: 90%;
  height: 400px;
}

#screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: orange;
  border-bottom: 3px solid black;
  overflow: hidden;
}

#slot-mashine {
  border-radius: 15px 15px 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: brown;
  transform: rotateX(20deg);
  transform-origin: bottom;
}

.slot-row {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 20%;
  height: 400px;
  margin: -35px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

img {
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


#screen>ul>li>ul {
  margin: 0;
  padding: 0;
}

#screen>ul>li>ul>li {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 133.32px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

#amount-container, #bet-container, #spin-container {
  width: 80%;
  height: 80%;
  margin: 5px;
  background-color: #718ae1;
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#spin-container {
  align-items: center;
  position: relative;
}

label {
  font-size: 40px;
}

#bet-controls, #amount-controls {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

#bet-up, #bet-down {
  border: 3px solid black;
  border-radius: 5px;
  display: block;
  color: white;
  width: 46%;
}

#bet-up {
  margin: 2% 0 0 4%;
}
#bet-down {
  margin: 2% 4% 0 0;
}

#max-bet, #min-bet {
  border: 3px solid black;
  border-radius: 20px;
  display: block;
  width: 35%;
  height: 28px;
  font-size: 10px;
  color: white;
}
#max-bet{
  margin: 2% 10% 2% 5%;
}
#min-bet{
  margin: 2% 5% 2% 10%;
}

#speed {
  position: absolute;
  left: 5%;
  border: 3px solid black;
  border-radius: 20px;
  display: block;
  width: 25%;
  height: 40px;
  font-size: 14px;
  background-color: #f659e4;
  color: blue;
}

#auto-play {
  position: absolute;
  right: 5%;
  border: 3px solid black;
  border-radius: 20px;
  display: block;
  width: 25%;
  height: 40px;
  font-size: 14px;
  color: white;
}
#auto-play.active {
  background-color: blue;
}
#auto-play.disabled {
  background-color: red;
}

#amount {
  margin: 0;
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #ccc;
  font-size: 40px;
  text-align: center;
}

#bet {
  margin: 0;
  display: block;
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #ccc;
  font-size: 20px;
  text-align: center;
}

#spin {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 70px;
  font-size: 34px;
}

#spin::-moz-focus-inner {
  border: 0;
}

.active {
  background-color: #28ec28;
}
.disabled {
  background-color: #7a7676;
}

#min-bet.active {
  background-color: #5151d8;
}

#max-bet.active {
  background-color: #f32659;
}

.wining {
  box-sizing: border-box;
  border: 5px solid white;
  animation: rainbow 1s infinite;
}
.displayWiningCash {
  position:absolute;
  top:20vh;
  right:0;
  font-size: 100px;
  opacity: .8;
  border: 10px solid purple;
  border-radius: 20px;
  background-color: green;
  color: white;
  animation: displayWiningCash 2s linear infinite;  
}

.click {
  background-color: orange;
}

@keyframes rainbow {
  10%{
    border-color: red;
  }
  20%{
    border-color: green;
  }
  30%{
    border-color: blue;
  }
  40%{
    border-color: yellow;
  }
  50%{
    border-color: orange;
  }
  60%{
    border-color: purple;
  }
  70%{
    border-color: red;
  }
  80%{
    border-color: yellow;
  }
  90%{
    border-color: white;
  }
  100%{
    border-color: green;
  }
}

@keyframes displayWiningCash {
  10%{
    transform: translateX(-25vw);
  }
  30%{
    transform: translateX(-35vw);
  }
  50%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(-100vw);
  }
}

@keyframes info {
  100%{
    opacity: 1;
    width: 90%;
  }
}